<div id='map'></div>

<div class='microtabs'>
  <div class="micro">
    <a href="#photos">Photos</a>

    <div id='photos'></div>
  </div>
  <div class="micro">
    <a href="#info">Info</a>

    <div id='info'></div>
  </div>
</div>
<div id="autocomplete-box">
    <label for="autocomplete">Write latin name of animal:</label>
    <input id="autocomplete" />
    <span style="font-size:10px;">*for example Ambystoma talpoideum</span>
</div>
